{% extends 'layout.html' %}

{% block conteudo %}

<h1>Adicionar Categoria</h1>

{% set idCategoria = 0 %}
{% set action = '/categoria/cadastrar' %}
{% if categoria.id != null %}
    {% set idCategoria = categoria.id %}
    {% set action = '/categoria/cadastrar/' ~ idCategoria %}
{% endif %}

<form id="form-categoria" method="POST" action="{{action}}">
    <input type="hidden" name="id" id="id" value="{{idCategoria}}">

    <p>{{erro.nome}}</p>
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" value="{{categoria.nome}}">

    <input type="submit" value="Adicionar">
</form>

{% endblock %}